<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/8f1f294b9c.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="css/styles.css">
        <title>Sprint 2 - Equipo 3</title>        
    </head>

    <body>
        <header>
            <nav>
                <div><img src="../img/logo.jpg"></div>
                <ul class="ul-count">
                    <li><a href="crear-cuenta">Crear Cuenta  |</a></li>
                    <li><a href="login"> Iniciar Sesión </a></li>
                </ul> 
                <hr>
                <ul class="nav-bar-major">
                    
                    <li class="li-mobile-nav-bar"><a class="d-flex" href="#">inicio  <span class="pipe">|</span></a></li>
                    <li class="li-mobile-nav-bar"><a class="d-flex" href="#"> productos <span class="pipe">|</span></a></li>
                    <li class="li-mobile-nav-bar"><a class="d-flex" href="#"> servicios <span class="pipe">|</span> </a></li>
                    <li class="li-mobile-nav-bar"><a class="d-flex" href="#">contacto <span class="pipe">|</span></a></li>
                    <li class="li-mobile-nav-bar"><a class="d-flex" href="#"><i class="fa-solid fa-cart-shopping"></i></a></li>
                    
                </ul>
                <hr>
            
                
                <div class="cont-burger">
                    <div class="burger-menu">
                        <i class="fa-solid fa-bars"></i>
                    </div>
                    <div><a href="#"><i class="fa-solid fa-cart-shopping"></i></a></div>
                </div>
                <form action="" method="get" class="form-nav">
                    <input type="text" name="search" placeholder="Buscar ..." class="p-4">
                    <div class="search">
                        <a href="#"><i class="text-light fa-solid fa-magnifying-glass p-4"></i></a></i>
                    </div>
                </form>   
            </nav>
        </header>        
    </body>
</html>