@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* hola prueba de 15/08/2022*/
/* paleta de colores */

:root{
    --midnight-blue: hsla(239, 94%, 19%, 1);
    --dark-cornflower-blue: hsla(214, 97%, 27%, 1);
    --star-command-blue: hsla(201, 100%, 36%, 1);
    --blue-green: hsla(195, 100%, 39%, 1);
    --pacific-blue: hsla(190, 100%, 42%, 1);
    --sky-blue-crayola: hsla(190, 74%, 59%, 1);
    --middle-blue: hsla(189, 75%, 75%, 1);
    --blizzard-blue: hsla(190, 76%, 82%, 1);
    --light-cyan: hsla(190, 77%, 88%, 1);
    --cultured: #f8f9faff;
    --cultured-2: #e9ecefff;
    --gainsboro: #dee2e6ff;
}

body{
    font-family: 'Ubuntu', sans-serif;
}

.logoImg{
    width: 3rem;
    padding: 1rem;
    margin-left: 1rem;
    margin-right: 2rem;
}
/* organizando el formulario del nav */
.search{
    background-color:white;
    padding: 0.3rem;
    border: 0;
}
.searchIcon{
    color: black;
    background-color:white;
    padding: 0.29rem;

}
.form-nav{
    display: flex;
    align-items:flex-start;
    
}
/* organizando la primera seccion del nav */
.section-nav{
    display: flex;
    justify-content: space-between;
    background-color:rgb(35, 35, 35);
    width: 100%;
    padding-left: 0;
    align-items: center;
}
.itemsNav{
    margin: 0.5rem;
}
.header-desktop{
    display: none;
}
.nav-bar-major{
    display: none;
    margin: 0;
    padding: 0;
}

nav ul{
    display: flex;
    justify-content: center;
}
a{
    color: white;
    text-decoration: none;   
}
.d-flex{
    display: flex;
}
.ul-count{
    display: flex;
    width: 81%;
    justify-content: end;
}

.burger-menu {
    background-color: black;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    padding: 8px;
    display: flex;
    width: 1.5rem;
    height: 1rem;
    margin-left: 8%;
    color: white;
}
.fa-solid{
    margin-right: 8px;
}
.cont-burger{
    background-color: var(--cultured-2);
    align-items: center;
    padding: 20px;
    margin: 0.2rem;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgb(120, 120, 120);
    border-bottom: 1px solid rgb(120, 120, 120);
}
.cont-burger div a{
color: black;
margin-right: 1rem;
}

nav ul li {
   list-style: none;
   
}

nav ul li a{
    text-transform:uppercase;
    font-size: 1rem;
    margin: 1rem;
 }



.title-pay{
  /*  padding-left:15px;*/
    text-transform: uppercase;
    text-align: center;
}


footer{
    display: flex;
   flex-direction: column;
}

.container-nets{
    display: flex;
    justify-content: center;
    margin: 2%;
}
.net ul li{
    list-style: none;
    margin-right: -7%;
    font-size: 15px;
}

.nets{
    display: flex;
    margin: 0;
    padding: 2%;
}
.nets a{
    color: black;
    margin-right: 15px;
}

.contact{
    padding:2%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.contact li{
    margin: 2%;
    margin-bottom: 4%;
}

.ul-pay{
    display:flex;
   justify-content: center;
}
.list-pay{
    list-style: none;
    margin: 0 3% ;  
}

.text-center ul{
    display: none;
}

/*boton de what sapp*/
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:10px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
    font-size:30px;
	box-shadow: 2px 2px 3px #999;
    z-index:100;
}


.my-float{
	margin-top:16px;
    color: white;
}
.pipe{
    display: none;
}

/* fin btn what */

.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin: 17%; */
}

.home h2{
    margin: auto;
    padding: 5% 0;
}
.p-home{
    padding: 10%;
}
section img{
    width: 100%;
}
.title-products{
    font-weight: bold;
    text-align: center; 
    position: absolute;
    margin: 2%;
    color: black;
    opacity: .8;
    background-color: white;
    opacity: .6;
    align-items: start;
    z-index: 1;
    font-size: 0.8rem;
    padding: 8%!important;
}
.box-products p{
    z-index: 1;
}

.box-products{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin:2%;
    width:40%;
}

.box-products h2{
    position: absolute;
    background-color: rgba(230, 233, 237,1);
    color: black;
    height: 62%;
    padding: 1%;
    display: flex;
    align-items: start;
    padding: 2%;
    transition: opacity 800ms;
    -webkit-transition: opacity 800ms;
    -moz-transition: opacity 800ms;
    -ms-transition: opacity 800ms;
    -o-transition: opacity 800ms;
    margin: 0;
    height: -webkit-fill-available;
    box-sizing: border-box;
}

.box-products:hover h2{
    box-sizing: border-box;
    background-color: white;
    opacity: 0.3;
    color: rgb(22, 11, 66);
    border: 1px solid black;
    transition: all 450ms;
    -webkit-transition: all 450ms;
    -moz-transition: all 450ms;
    -ms-transition: all 450ms;
    -o-transition: all 450ms;
   

} 
.box-products:hover .title-products-hover{
   display: block;
   background-color: rgb(164, 194, 246);
   padding: 0;
   box-sizing: border-box;
   position: absolute;
   width: 100%;
   padding: 2%;
   color: black;
} 

.box-products img{
    width: 25%;
}   
.text-center{
    text-align: center;
}

.categorys-article{
    display: flex;
    flex-direction: column;
    margin: 2%;
}

.categorys-row-div{
    margin: 2%;
}
.w-85{
    width: 85%!important;
}
.categorys-row{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}
.categorys-article div{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.2rem;
    margin: 2%;
}
.categorys-article h2{
    position: absolute;
    margin: 2%;
    color: black;
    opacity: .8;
    padding: 2%;
    background-color: white;
    opacity: .6;
}
.categorys-row-div{
    opacity:0.7;
    display: flex;
    justify-content: center;
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.categorys-row-div h2{
    position: absolute;
    background: white;
    color: black;
    opacity: 0.8;
    padding: 2%;
    opacity: .8;
}

.nuestrosh2{
    text-align: center;
}
/* page products*/
.filter-search{
    display: flex;
    justify-content: space-evenly;
}

.filter-search select{
    height: 38px;
}

.ul-list-categorys{
    display: none;
}
.ul-list-categorys li{
    list-style: none;
    margin: 6px 0;
}

.main-products{
    display: flex;
    margin-top: 2%;
    justify-content: center;
}
.page-products-products-detail{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* fin page products*/


  /*tablets*/
@media(min-width: 780px){ 
   nav{
    flex-wrap: wrap;
   }
   nav ul li a{
    text-transform:uppercase;
    font-size: 1rem;
   }
    .cont-burger{
        display: none;
    }
    .nav-bar-major{
        display: flex;
        justify-content: center;
    }
    .pipe{
        display: inline-block;
    }
    .ul-count{
        display: inline-flex;
        width:30%;
    }
   
    footer{
        border-top: 1px solid #e9ecef;
        padding-top: 2%;
        justify-content: space-around;
        flex-direction: row;
    }
    .padding-0-no-mobile{
        padding: 0;
    }

    .home-desktop{
        flex-direction: row;
    }

    .box-products{
        width: 28%;
    }
    .home{
        margin: 0;
        flex-wrap: wrap;
    }
    .nav-bar-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    

    .ul-count li a {
        padding: 0;
        margin-right: 0; 
    }
    .text-center ul{
        display: block;
        margin-top: 30%;
        margin: auto;
        padding: 0 10%;
      }
      .text-center ul li{
          top: 40px;
          list-style: none;
      }

      .ul-list-categorys{
        display: block;
    }
    /*page products*/
    .page-products-products-detail {
        
    }

    /* end page products*/
  
}


@media(min-width: 788px){ 
    
    .cont-burger{
        display: none;
        
    }
    nav ul li a{
        text-transform:uppercase;
        font-size: 1rem;
        margin: 0%;
     }
    .nav-bar-major{
        display: flex;
        justify-content: center;
        align-items: baseline;
    }
    .pipe{
        display: inline-block;
    }
    .nav-bar-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .box-products{
        width: 22%;
    }
    .home{
        margin: 0;
        flex-wrap: wrap;
    }
    footer{
        justify-content: space-evenly;
        flex-direction: row;
    }

    .ul-count{
       justify-content: end;

    }
    .padding-0-no-mobile{
        padding: 0;
    }

    .form-nav {
        margin-left: 5%;
        margin-bottom: 0;
        
    }

    .text-center ul{
        margin-top: 30%;
      }
      .text-center ul li{
          top: 40px;
          list-style: none;
      }

      /*page products categorys */
      .ul-list-categorys{
        display: block;
    }

}