@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body{
    font-family: 'Ubuntu', sans-serif;
}
.search{
    background-color:#1259c3;
    display: inline;
    border: 4px solid#1259c3;
    margin: 0;
    margin-left: -4px;
}
.header-desktop{
    display: none;
}
.nav-bar-major{
    display: none;
}

nav{
    display: flex;
}
a{
    color: black;
}
.d-flex{
    display: flex;
}
.ul-count{
    display: flex;
    width: 81%;
    justify-content: end;
}
.ul-count li{
    margin-right: 2%;
    margin-top: 5%;
}
.burger-menu {
    background-color: black;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    padding: 8px;
    display: flex;
    width: 10%;
    margin-left: 8%;
    color: white;
}
.fa-solid{
   
    margin: auto;
}
.cont-burger{
    text-align: center;
    padding: 20px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgb(120, 120, 120);
    border-bottom: 1px solid rgb(120, 120, 120);
}

nav ul li {
   list-style: none;
   padding: 1%;
}

nav ul li a{
    text-transform:uppercase;
 }

.form-nav{
    display: flex!important;
    margin-left: 10%;
    margin-bottom: 15px;
}

.title-pay{
  /*  padding-left:15px;*/
    text-transform: uppercase;
    text-align: center;
}

.title-products-hover{
    display:none;
}
footer{
    display: flex;
   flex-direction: column;
}

.container-nets{
    display: flex;
    justify-content: space-between;
    margin: 2%;
}
.net ul li{
    list-style: none;
    margin-right: 42%;
    font-size: 18px;
}

.nets{
    display: flex;
    margin: 0;
    padding: 2%;
}
.contact{
    padding:2%;
}

.contact li{
    margin: 2%;
    margin-bottom: 4%;
}

.ul-pay{
    display:flex;
   
}
.list-pay{
    list-style: none;
    margin: 0 3% ;  
}

.text-center ul{
    display: none;
}

/*boton de what sapp*/
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:10px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
    font-size:30px;
	box-shadow: 2px 2px 3px #999;
    z-index:100;
}


.my-float{
	margin-top:16px;
    color: white;
}
.pipe{
    display: none;
}

/* fin btn what */

.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 17%;
}
.p-home{
    padding: 10%;
}
section img{
    width: 100%;
}
.title-products{
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}
.box-products{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin:1%
    
}

.box-products h2{
    position: absolute;
    background-color: rgb(184, 206, 243);
    opacity: 0.6;
    color: white;
    height: 62%;
    padding: 1%;
    display: flex;
    align-items: center;
    transition: opacity 800ms;
    -webkit-transition: opacity 800ms;
    -moz-transition: opacity 800ms;
    -ms-transition: opacity 800ms;
    -o-transition: opacity 800ms;
    margin: 0;
    height: -webkit-fill-available;
    box-sizing: border-box;
    padding: 8%;
}
.box-products:hover{
    border: 1px solid rgb(166, 162, 162);
    box-sizing: border-box;
}
.box-products:hover h2{
    box-sizing: border-box;
    opacity: 0;
} 
.box-products:hover .title-products-hover{
   display: block;
   background-color: rgb(164, 194, 246);
   padding: 0;
   box-sizing: border-box;
   position: absolute;
   width: 100%;
   padding: 2%;
} 

.box-products img{
    width: 25%;
}   
.text-center{
    text-align: center;
}


  /*tablets*/
  
@media(min-width: 780px){ 
  
   nav{
    flex-wrap: wrap;
   }
    .cont-burger{
        display: none;
    }
    .nav-bar-major{
        display: flex;
        justify-content: center;
    }
    .pipe{
        display: inline-block;
    }
    .ul-count{
        display: inline-flex;
        width: 44%;
       
    }
    footer{
        border-top: 1px solid #e9ecef;
        padding-top: 2%;
        justify-content: space-around;
        flex-direction: row;
    }
    .padding-0-no-mobile{
        padding: 0;
    }

    .home-desktop{
        flex-direction: row;
    }

    .home{
        margin: 0;
    }
    .nav-bar-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .form-nav {
        display: inline!important;
        margin-left: 5%;
        margin-bottom: 0;
    }

    .ul-count li {
        padding: 15px;
        margin-right: 0; 
    }
    .search {
        border: 5px solid#1259c3;
    }
    .p-4{
        padding: 4px;
    }
    .li-mobile-nav-bar{
        margin-bottom: 2%;
    }
    .text-center ul{
        display: block;
        margin-top: 30%;
        margin: auto;
        padding: 0 10%;
      }
      .text-center ul li{
          top: 40px;
          list-style: none;
      }
  
}

@media(min-width: 788px){ 
    
    .cont-burger{
        display: none;
        
    }
    .nav-bar-major{
        display: flex;
        justify-content: center;
    }
    .pipe{
        display: inline-block;
    }
    .nav-bar-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .home{
        margin: 0;
    }
    footer{
        justify-content: space-evenly;
        flex-direction: row;
    }

    .ul-count{
        margin-left: 26%;
        width: 44%;
    }
    .ul-count li {
        padding: 15px;
    }
    .padding-0-no-mobile{
        padding: 0;
    }

    .form-nav {
        display: inline!important;
        margin-left: 5%;
        margin-bottom: 0;
    }

    .search {
        border: 5px solid#1259c3;
    }
    .text-center ul{
        margin-top: 30%;
      }
      .text-center ul li{
          top: 40px;
          list-style: none;
      }
}