<%- include('./partials/head.ejs') %>
<link rel="stylesheet" href="/css/index.css" />
<html>
    <body>
        <%- include('./partials/header.ejs') %>
        <main>
          <section id="myCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
              </div>
              <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="img-carousel" style="background-image:url(/img/smartwatch-l.jpg) ;"></div>
                <div class="container">
                <div id="carousel-text-1" class="carousel-caption text-start">
                  <h1>Te preparamos una sorpresa.</h1>
                  <p>
                    Regístrate para poder tener contenido exclusivo, comprar nuestros productos<br>
                    y difrutar de nuestros servicios
                  </p>
                  <a class="btn btn-lg btn-light" href="users/register">Regístrate</a>
                </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="img-carousel" style="background-image:url(img/servicio_tecnico.jpg) ;"></div>
                <div class="container">
                <div class="carousel-caption">
                  <h1>Estamos atentos a tus necesidades.</h1>
                  <p>Pidenos presupuesto o algún accesorio que necesites</p>
                  <a class="btn btn-lg btn-dark" href="https://api.whatsapp.com/send?phone=541151034595&text=%C2%A1Hola!%20Quiero%20pedir%20un%20presupuesto.">Presupuesto</a>
                </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="img-carousel" style="background-image:url(img/setup.jpg) ;"></div>			  
                <div class="container">
                <div class="carousel-caption text-end">
                  <h1>Te armamos el setup.</h1>
                  <p>Ensamblamos el pc de tus sueños, tu solo disfruta.</p>
                  <a class="btn btn-lg btn-dark" href="/products">Catálogo</a>
                </div>
                </div>
              </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
              </button>
          </section>	
          <!-- empieza el jumb -->
		<div id="jumbotron">
      <div class="container">
            
      <div class="p-5 mb-4 bg-light rounded-3" id="categoria1" >
        <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Servicio Técnico</h1>
        <p class="col-md-8 fs-4">Contamos el mejor equipo capacitado profesionalmente para reparar tus dispositivos a cualquier nivel. (Celulares, Notebooks, PC)</p>
        <a  href="https://api.whatsapp.com/send?phone=541151034595&text=%C2%A1Hola!%20Quiero%20pedir%20un%20presupuesto.">
          <button class="btn btn-primary btn-lg" type="button"><svg class="bi" width="1.5rem" height="1.5rem" style="margin-right:1rem; margin-bottom:0.3rem;"><use xlink:href="#whatsapp"/></svg>Pide tu presupuesto</button>
        </a>
        </div>
      </div>
    
      <div class="row align-items-md-stretch">
        <div class="col-md-6">
        <div class="h-100 p-5 text-white bg-dark rounded-3">
          <h2>Productos</h2>
          <p>Tenemos la mejor calidad y variedad de productos para garantizar tu satisfacción. </p>
          <a href="/products"><button class="btn btn-outline-light" type="button">Catálogo</button></a>
        </div>
        </div>
        <div class="col-md-6">
        <div class="h-100 p-5 bg-light border rounded-3">
          <h2>Servicios</h2>
          <p>Brindamos los mejores servicios técnologicos. Tanto para público como a empresas.</p>
          <a href="/services"><button class="btn btn-outline-secondary" type="button">Ver más</button></a>
        </div>
        </div>
      </div>
    </div>
  </div>
        </main>

        <%- include('./partials/footer.ejs') %>
    </body>
</html>
