<%- include('../partials/head.ejs') %>
<body>

<%- include('../partials/header.ejs') %>
   
    <main>

        <form class="form-create-produc" action="" method="POST">

            <h1>Crear Producto</h1>
                <div class="container-create-product">
            
                <div class="input-contenedor">
                    <input type="text" name="name" placeholder="Nombre">
                </div>
            
                <div class="input-contenedor">
                    <input type="text" name="price" placeholder="Precio">
                </div>

                <div class="input-contenedor">
                    <label for="description" class="label-product">Descripción</label>
                    <textarea type="text" name="description" >
                    </textarea>
                </div>


                <div class="input-contenedor">
                    <label>Seleccione la imagen</label>
                    <input type="file" name="img" >
                </div>
                <div class="box-btn-form-create-produc">
                    <input type="submit" value="Guardar" class="btn-guardar">
                    <input type="reset" value="Borrar" class="btn-reset">
                </div>
             </div>
        </form>
    </main>

    <%- include('../partials/footer.ejs') %>
</body>
</html>
