<header class="header-mobile">
    <nav>    
        <div class="section-nav">
        <img class="logoImg" src="/../img/teamCelularPNG.png">
        
        <ul class="nav-bar-major">
            <li class="li-mobile-nav-bar"><a class="d-flex itemsNav" href="/"> Home <span class="pipe">|</span> </a></li>
           
            <li class="li-mobile-nav-bar nav-products"><a href="/products">Productos <span class="pipe">|</span></a> 
                <ul>
                    <li><a href="/products">Ver todos los productos</a></li>
                    <li><a href="">Smartwatch</a></li>
                    <li><a href="">Celulares</a></li> 
                    <li><a href="">Auriculares</a></li>   
                    <li><a href="">Accesorios</a></li>
                </ul>
            </li>
            <li class="li-mobile-nav-bar"><a class="d-flex itemsNav" href="/services"> servicios  </a></li>
            <li class="li-mobile-nav-bar"><a class="d-flex itemsNav" href="#">contacto </a></li>
            <li class="li-mobile-nav-bar"><a class="d-flex itemsNav" href="/cart"><i class="fa-solid fa-cart-shopping"></i></a></li>
        </ul>
        <div>
            <form action="/products/search" method="get" class="form-nav-mobile"> 
                <div class="input-contenedor">
                    <input type="text" name="search" placeholder="Buscar..." class="p-4">
                </div>
                <button type="submit" class="search">
                    <i class="text-light fa-solid fa-magnifying-glass p-4"></i>
                </button>
            </form>   
        </div>

        <ul class="ul-count d-flex itemLog">
             <% if (locals.isAnUserLogged == true) { %>
                <li><a href="/users/profile/<%= locals.userLogged.name %>">Perfil </a></li>
                <li><a href="/users/logout">Cerrar <i class="fas fa-sign-in-alt"></i></a></li>
            <% } else { %>
            <li><a href="/users/register">Registrarse </a></li>
            <li><a href="/login">Iniciar Sesión</a></li>
            <%} %>
        </ul>        
    </nav>
    <div class="cont-burger">
        <div class="burger-menu">
            <i class="fa-solid iconBurger fa-bars"></i>
        </div>
        <div class="carritoLogo-container"><a href="/sprint-02/views/carrito.html"><i class="fa-solid fa-cart-shopping"></i></a></div>
    </div>
</header>