<header class="header-mobile">
    <header class="header-mobile">
        <nav>    
            <div class="section-nav">
            <img class="logoImg" src="/../img/teamCelularPNG.png">
            <div>
                <form action="/products/search" method="get" class="form-nav"
                > 
                    <input type="text" name="search" placeholder="Buscar  ..." class="p-4">
                    <button type="submit" class="search">
                        <i class="text-light fa-solid fa-magnifying-glass p-4"></i>
                    </button>
                 </form>   
            </div>
    
            <ul class="ul-count d-flex itemLog">
                <li><a href="/register">Registrarse </a></li>
                <li><a href="/login">Iniciar Sesión</a></li>
                <% if (locals.isAnUserLogged == true) { %>
                    <li>
                      <a href="/users/profile/<%= locals.userLogged.id %>">Perfil </a>
                </li>
                <% } %> 
            </ul>     
            
            <ul class="nav-bar-major">
                <li class="li-mobile-nav-bar new-product"><a class="d-flex" href="/products/create"><i class="fa-solid fa-circle-plus"></i>Nuevo Producto</span></a></li>
                <li class="li-mobile-nav-bar new-product"><a href="/products/list_products">Productos </span></a> 
             </ul>
        </nav>
        <div class="cont-burger">
            <div class="burger-menu">
                <i class="fa-solid fa-bars"></i>
            </div>
            <div><a href="/sprint-02/views/carrito.html"><i class="fa-solid fa-cart-shopping"></i></a></div>
        </div>
    </header>