        <%- include('./partials/head.ejs') %>
    <body>

        <%- include('./partials/header.ejs') %>

        <form class="formulario">

            <h1>Loguéate</h1>
            <div class="contenedor">


                <div class="input-contenedor userField">
                    <input type="text" placeholder="Correo Electrónico">
                </div>
                <div class="input-contenedor userField">
                    <input type="password" placeholder="Contraseña">
                </div>
                <div>
                    <input type="submit" value="Loguéate" class="button">
                </div>
            </div>    
        </form>
   
        <%- include('./partials/footer.ejs') %>
    </body>
</html>