<%- include('./partials/head.ejs') %>
<body>

<%- include('./partials/header.ejs') %>
<body>
<form class="formulario"  action="/register" method="POST"
enctype="multipart/form-data">

    <h1>REGISTRATE</h1>
    <div class="contenedor">

    <div class="input-contenedor userField">
        <input type="text" placeholder="Nombre y Apellido" name="nickname">

         </div>

         <div class="input-contenedor userField">
            <input type="text" placeholder="Correo Electrónico" name="email">
    
             </div>

             <div class="input-contenedor userField">
                <input type="password" placeholder="Contraseña" name="password">
        
                 </div>

                 <div class="input-contenedor userField">
                    <input type="password" placeholder="Repetir Contraseña">
            
                     </div>
                <input type="submit" value="REGISTRATE" class="button">
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" name="remember_user"><p> Al registrarse aceptas nuestras Condiciones de uso y Política de privacidad</p>
                    </label>
                </div> 
                </div>
    </form>
    <%- include('./partials/footer.ejs') %>
</body>
</html>
    