<footer>
    <div
        class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 mb-2 pb-2 border-top mx-auto justify-content-center"
    >
        <div class="col mb-3">
            <h5>Medio de pago</h5>
            <div class="nav d-flex">
                <ul class="flex-colum p-2">
                    <li class="list-pay">
                        <img src="/../img/visa.jpg" width="50px" />
                    </li>
                    <li class="list-pay">
                        <img src="/../img/american.png" width="50px" />
                    </li>
                    <li class="list-pay">
                        <img src="/../img/rapipago.png" width="50px" />
                    </li>
                    <li class="list-pay">
                        <img src="/../img/naranja.png" width="50px" />
                    </li>
                </ul>
                <ul class="flex-colum p-2">
                    <li class="list-pay">
                        <img src="/../img/pagofacil.png" width="50px" />
                    </li>
                    <li class="list-pay">
                        <img src="/../img/maestro.png" width="50px" />
                    </li>
                    <li class="list-pay">
                        <img src="/../img/transferencia.jpg" width="50px" />
                    </li>
                    <li class="list-pay">
                        <img src="/../img/mercado.png" width="50px" />
                    </li>
                </ul>
            </div>
        </div>

        <div class="col mb-3">
            <h5>Medios de envío</h5>
            <ul class="nav flex-colum">
                <li class="list-pay">
                    <img src="/../img/correo.png" width="50px" />
                </li>
                <li class="list-pay">
                    <img src="/../img/envios.jfif" width="50px" />
                </li>
                <li class="list-pay">
                    <img src="/../img/andreani.jpg" width="50px" />
                </li>
            </ul>
        </div>

        <div class="col mb-3">
            <h5>Contacto</h5>
            <ul class="row list-pay m-0 p-0 d-flex">
                <li>
                    <i class="fa-solid justify-content-center fa-envelope"></i>
                    <p>nuestroEmail@gmail.com</p>
                </li>
                <li>
                    <i class="fa-solid justify-content-center fa-phone"></i>
                    <p>54 9 11 6632-5856</p>
                </li>
                <li>
                    <i
                        class="fa-solid justify-content-center fa-location-dot"
                    ></i>
                    <p>Avenida 123 CABA</p>
                </li>
            </ul>
        </div>
    </div>

    <div class="d-inline-flex justify-content-between border-top w-100">
        <div class="d-flex p-3">
            <a
                href="/"
                class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1"
            >
                <svg class="bi" width="30" height="24">
                    <use xlink:href="#phone"></use>
                </svg>
            </a>
            <span class="mb-3 mb-md-0 text-muted"
                >© Team Celular Company, Inc</span
            >
        </div>
        <ul class="p-3">
            <a
                href="/"
                class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1"
            >
                <svg class="bi" width="30" height="24">
                    <use xlink:href="#facebook"></use>
                </svg>
            </a>
            <a
                href="/"
                class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1"
            >
                <svg class="bi" width="30" height="24">
                    <use xlink:href="#instagram"></use>
                </svg>
            </a>
            <a
                href="/"
                class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1"
            >
                <svg class="bi" width="30" height="24">
                    <use xlink:href="#twitter"></use>
                </svg>
            </a>
        </ul>
    </div>
</footer>
<script type="text/javascript" src="/popper/umd/popper.js"></script>
<script type="text/javascript" src=https://unpkg.com/@popperjs/core@2></script>
<script type="text/javascript" src="/bootstrap/js/bootstrap.js"></script>
<script
            src="https://kit.fontawesome.com/8f1f294b9c.js"
            crossorigin="anonymous"
        ></script>