<%- include('./partials/head.ejs') %>
<body>

<%- include('./partials/header.ejs') %>
<body>
<form class="formulario">

    <h1>Loguéate</h1>
    <div class="contenedor">


        <div class="input-contenedor">
            <input type="text" placeholder="Correo Electrónico">
        </div>
        <div class="input-contenedor">
            <input type="password" placeholder="Contraseña">
        </div>
        <div>
            <input type="submit" value="Loguéate" class="button">
        </div>
    </form>
   
    <%- include('./partials/footer.ejs') %>
</body>
</html>