<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/8f1f294b9c.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="css/styles.css">

        <title>Sprint 3 - Equipo 3</title>
    </head>
    <body>

    <!-- comienzo del nav -->

        <header class="header-mobile">
            <nav>    
                <div class="section-nav">
                <img class="logoImg" src="../img/teamCelularPNG.png">
                
                <ul class="nav-bar-major">
                    <li class="li-mobile-nav-bar"><a class="d-flex itemsNav" href="#"> Home <span class="pipe">|</span> </a></li>
                   
                    <li class="li-mobile-nav-bar nav-products"><a href="/products">Productos <span class="pipe">|</span></a> 
                        <ul>
                            <li><a href="">Ver todos los productos</a></li>
                            <li><a href="">Smartwatch</a></li>
                            <li><a href="">Celulares</a></li> 
                            <li><a href="">Auriculares</a></li>   
                            <li><a href="">Accesorios</a></li>
                            </ul>
                    </li>
                    <li class="li-mobile-nav-bar"><a class="d-flex itemsNav" href="#"> servicios  </a></li>
                    <li class="li-mobile-nav-bar"><a class="d-flex itemsNav" href="#">contacto </a></li>
                    <li class="li-mobile-nav-bar"><a class="d-flex itemsNav" href="#"><i class="fa-solid fa-cart-shopping"></i></a></li>
                </ul>
                <div>
                    <form method="GET" action="/search"class=""> 
                        <div class="uk-grid-collapse uk-flex-center uk-grid busquedaNav" uk-grid="">
                            <div class="uk-width-1-2@s uk-width-3-5 uk-first-column">
                                <div class="field field--search">
                                    <input type="text" name="q" min-length="2" id="search" class="field__input border-radius header-search__input field__input--right-button" autocomplete="off" placeholder="Buscar..." required="">
                                </div>
                            </div>
                            <div class="uk-width-auto@s uk-width-auto">
                                <button type="submit" id="search-btn" class="button uk-button-input--no-radius button--full background--primary background--primary-hover contrast_text--primary contrast_text--primary-hover uk-button uk-button-input border-radius" data-label="<i class=&quot;fas fa-search&quot;></i>" data-spinner-ratio="0.75">
            
                                    <i class="fas fa-search" aria-hidden="true"></i>
                                </button>                    
                            </div>
                        </div>
                    </form>
                </div>

                <ul class="ul-count d-flex itemLog">
                    <li><a href="crear-cuenta">Registrarse </a></li>
                    <li><a href="login">Iniciar Sesión</a></li>
                </ul>        
            </nav>
            <div class="cont-burger">
                <div class="burger-menu">
                    <i class="fa-solid fa-bars"></i>
                </div>
                <div><a href="/sprint-02/views/carrito.html"><i class="fa-solid fa-cart-shopping"></i></a></div>
            </div>
        </header>
        
        <!-- término del nav -->

        <main>
            <section class="sections">
                <div class="categorys-article">
                    <article class="category">
                        <div class="background-img">
                            <img src="../img/smartwatch.jpg"  alt="imagen categoria smartwatch" class="article-img-0">
                            <h2>Smartwatch</h2>
                        </div>
                    </article>
                    <article class="category">
                        <div class="background-img">
                            <img src="../img/celulares.jpg" alt="imagen categoria celulares" class="article-img-0">
                            <h2>Celulares</h2>
                        </div>               
                    </article>
                </div>
                
                    <div class="categorys-article1">
                        <article class="categorys-row">
                            <div class="backgroundBlack">
                                <div class="categorys-row-div">
                                    <img src="../img/auriculares.jpg" alt="imagen categoria auriculares" class="article-img-1">
                                    <h2>Auriculares</h2>
                                </div>
                            </div>   
                            <div class="container">  
                                <div class="backgroundBlack">
                                    <div class="categorys-row-div">
                                        <img src="../img/accesorios.jpg" class="w-85 article-img-1" alt="imagen categoria accesorios">
                                        <h2>Accesorios</h2>
                                    </div>  
                                </div>
                            </div>       
                        </article>
                    </div>
            </section>
            <h2 class="nuestrosh2">Nuestros Productos</h2>
            <section class="home home-desktop">
            
                <div class="box-products">
                    <div class="text-center">
                        <!-- <p> class="title-products-hover">Samsung Galaxy A32 128 GB</p> -->
                
                        <a href="#">
                            <img src="../img/01-cel.jpg" alt="Imagen de Celular A32">
                        </a>
                    </div>
                    <h2 class="title-products">Samsung Galaxy A32 128 GB</h2>
                    <p>$69.999</p>
                        <!-- <p>Pantalla super AMOLED de 6.4". Con 4 cámaras traseras y 1 cámara delantera. Batería de 500mAh. Memoria interna de 128gb'</p> -->
                </div>
                <div class="box-products">
                    <h2 class="title-products">Samsung Galaxy A45 156 GB</h2>
                    <div class="text-center">    
                    
                        <a href="#">
                            <img src="../img/02-cel.jpg" alt="Imagen de Celular A32">
                        </a>
                    </div>
                    <p>$89.999</p>
                        <!-- <p>Pantalla super AMOLED de 6.4". Con 4 cámaras traseras y 1 cámara delantera. Batería de 500mAh. Memoria interna de 128gb'</p> -->
                </div>
                <div class="box-products">
                    <div class="text-center">
                    
                        <a href="#">
                            <img src="../img/03-cel.jpg" alt="Imagen de Celular A32">
                        </a>
                    </div>
                    <h2 class="title-products">Samsung Galaxy A32 128 GB</h2>
                    <p>$69.999</p>
                        <!-- <p>Pantalla super AMOLED de 6.4". Con 4 cámaras traseras y 1 cámara delantera. Batería de 500mAh. Memoria interna de 128gb'</p> -->
                </div>
                <div class="box-products">
                    <div class="text-center">
                    
                        <a href="#">
                            <img src="../img/04-cel.jpg" alt="Imagen de Celular A32">
                        </a>
                    </div>
                    <h2 class="title-products">Samsung Galaxy A32 128 GB</h2>
                    <p>$69.999</p>
                        <!-- <p>Pantalla super AMOLED de 6.4". Con 4 cámaras traseras y 1 cámara delantera. Batería de 500mAh. Memoria interna de 128gb'</p> -->
                </div>
                <div class="box-products">
                    <div class="text-center">
                
                        <a href="#">
                            <img src="../img/01-cel.jpg" alt="Imagen de Celular A32">
                        </a>
                    </div>
                    <h2 class="title-products">Samsung Galaxy A32 128 GB</h2>
                    <p>$69.999</p>
                        <!-- <p>Pantalla super AMOLED de 6.4". Con 4 cámaras traseras y 1 cámara delantera. Batería de 500mAh. Memoria interna de 128gb'</p> -->
                </div>
                <div class="box-products">
                    <div class="text-center">
                
                        <a href="#">
                            <img src="../img/02-cel.jpg" alt="Imagen de Celular A32">
                        </a>
                    </div>
                    <h2 class="title-products">Samsung Galaxy A45 156 GB</h2>
                    <p>$89.999</p>
                        <!-- <p>Pantalla super AMOLED de 6.4". Con 4 cámaras traseras y 1 cámara delantera. Batería de 500mAh. Memoria interna de 128gb'</p> -->
                </div>
                <div class="box-products">
                    <div class="text-center">
                        <!-- <p> class="title-products-hover">Samsung Galaxy A32 128 GB</p> -->
                
                        <a href="#">
                            <img src="../img/01-cel.jpg" alt="Imagen de Celular A32">
                        </a>
                    </div>
                    <h2 class="title-products">Samsung Galaxy A32 128 GB</h2>
                    <p>$69.999</p>
                        <!-- <p>Pantalla super AMOLED de 6.4". Con 4 cámaras traseras y 1 cámara delantera. Batería de 500mAh. Memoria interna de 128gb'</p> -->
                </div>
                <div class="box-products">
                    <h2 class="title-products">Samsung Galaxy A45 156 GB</h2>
                    <div class="text-center">    
                    
                        <a href="#">
                            <img src="../img/02-cel.jpg" alt="Imagen de Celular A32">
                        </a>
                    </div>
                    <p>$89.999</p>
                        <!-- <p>Pantalla super AMOLED de 6.4". Con 4 cámaras traseras y 1 cámara delantera. Batería de 500mAh. Memoria interna de 128gb'</p> -->
                </div>
            </section>
        </main>

        <footer>
            <div>
                <p class="title-pay">Medios de Pago</p>
                <ul class="ul-pay">
                    <li class="list-pay"><img src="../img/visa.jpg" width="50px"></li>
                    <li class="list-pay"><img src="../img/american.png" width="50px"></li>
                    <li class="list-pay"><img src="../img/rapipago.png" width="50px"></li>
                    <li class="list-pay"><img src="../img/naranja.png" width="50px"></li>
                </ul>
                <ul class="d-flex ul-pay">
                    <li class="list-pay"><img src="../img/pagofacil.png" width="50px"></li>
                        <li class="list-pay"><img src="../img/maestro.png" width="50px"></li>
                    <li class="list-pay"><img src="../img/transferencia.jpg" width="50px"></li>
                    <li class="list-pay"><img src="../img/mercado.png" width="50px"></li>
                </ul>
            </div>
            <div>
                <p class="title-pay">Medios de Envío</p>
                <ul class="ul-pay padding-0-no-mobile">
                    <li class="list-pay"><img src="../img/correo.png" width="50px"></li>
                    <li class="list-pay"><img src="../img/envios.jfif" width="50px"></li>
                    <li class="list-pay"><img src="../img/andreani.jpg" width="50px"></li>
                </ul>
            </div>

            <div class="net">  
                <hr>
                <div class="container-nets">  
                        <ul class="nets">
                            <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-instagram"></i></i></a></li>
                        </ul> 
                    </div>
                <hr>
                <ul class="contact"> 
                    <p>Contacto</p>
                    <li><i class="fa-solid fa-envelope"></i>nuestroEmail@gmail.com</li>
                    <li><i class="fa-solid fa-phone"></i>54 9 11 6632-5856</li>
                    <li><i class="fa-solid fa-location-dot"></i>Avenida 123 CABA</li>
                </ul>
            </div>
        </footer>
    </body>
</html>
