@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


:root{
    --midnight-blue: hsla(239, 94%, 19%, 1);
    --dark-cornflower-blue: hsla(214, 97%, 27%, 1);
    --star-command-blue: hsla(201, 100%, 36%, 1);
    --blue-green: hsla(195, 100%, 39%, 1);
    --pacific-blue: hsla(190, 100%, 42%, 1);
    --sky-blue-crayola: hsla(190, 74%, 59%, 1);
    --middle-blue: hsla(189, 75%, 75%, 1);
    --blizzard-blue: hsla(190, 76%, 82%, 1);
    --light-cyan: hsla(190, 77%, 88%, 1);
    --cultured: #f8f9faff;
    --cultured-2: #e9ecefff;
    --gainsboro: #dee2e6ff;
}

/* styles de cada producto */
.product-container i{
    color: black;
}
.product-container div a{
    color: black;
}
.product-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.product-img{
    width: 5rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}
.description-product{
    display: flex;
    align-items: center;
}
.title-cant{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title-cant h4{
    margin: 0;
    font-size: 0.95rem;
}
.cant-menu{
    display: flex;
    align-items: center;
}
.cant-menu a{
    margin: 0.2rem;
}
.cant{
    padding: 0.1rem;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    border: 1px solid black;
}
.price-trash{
    display: flex;
    align-items: center;
}
.trash-icon-div{
    margin: 0.4rem;
}
/* styles subtotal*/
.subtotal{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.subtotal h5{
    margin: 0;
    margin-left: 1rem;
    margin-right: 1rem;
}
/* styles calcular costo de envío */
.delivery-cost{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.delivery-cost i{
    margin: 0;
    margin-right: 1rem;
}
.delivery-cost h5{
    margin: 0;
    margin-left: 1rem;
}
/* styles total de compra */
.total{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.total h5{
    margin: 0;
    margin-left: 1rem;
    margin-right: 1rem;
}
/* styles continuar con la compra */
.button-continue-container{
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 100%;
}
.button-continue{
    background-color: black;
    font-size: 1.5rem;
    padding: 1rem;
}
.button-continue h6{
    margin:0
}

 @media(min-width: 780px){ 
    /* styles continuar con la compra */
    .button-continue-container{
        text-align: right;
        justify-content: flex-end;
        width: 40%;
        
    }
    .button-continue{
        background-color: black;
        font-size: 1.5rem;
        padding: 1rem;
    }
    .button-continue h6{
        margin:0
    }
}